@{
    ViewData["Title"] = "Carta";
}
<!DOCTYPE html>
<html class="wide wow-animation" lang="es"> 
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Cargando sabores...</p>
      </div>
    </div>
    <div class="page">
      <section class="section section-lg bg-gray-1">
        <div class="container">
          <h2 class="text-center">Nuestra carta</h2>
          <div class="row">
            <div class="col-12">
              <div class="tabs-custom tabs-horizontal tabs-classic" id="tabs-1">
                <h3>Carta TacoGos</h3>
                <ul class="nav nav-tabs nav-tabs-classic">
                  <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1" data-toggle="tab">Tacos</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-toggle="tab">Quesadillas</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3" data-toggle="tab">Burritos</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-4" data-toggle="tab">Hot dogs</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-5" data-toggle="tab">Pupusas</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-6" data-toggle="tab">Sandwich</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-7" data-toggle="tab">Hamburguesas</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-8" data-toggle="tab">Postres</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-9" data-toggle="tab">Bebidas</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="tabs-1-1">
                    <!-- init tacos menu -->
                    <div class="box-event-modern">
                      <!-- Tacos -->                      
                      <p>
                        Descubre nuestros <b>tacos</b> de tortilla de maíz con una variedad de rellenos frescos y auténticos. Elige entre:
                        <br><br>
                      </p>
                      <!-- Especial -->
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a href="#">Especial tacogos</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                              Carne mixta &nbsp;|&nbsp; Queso &nbsp; | Cebolla &nbsp;|&nbsp; Cilantro fresco.                         
                          </p>
                          <p class="event-time">1.00 €</p>
                        </div>
                      </div>
                      <!-- tinga -->
                      <div class="event-item-modern">                        
                        <h4 class="event-item-modern-title"><a href="#">Tinga de pollo</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Pechuga de pollo guisada  &nbsp;|&nbsp; Queso  &nbsp;|&nbsp; Cebolla  &nbsp;|&nbsp; Cilantro fresco.
                          </p>
                          <p class="event-time">1.00 €</p>
                        </div>
                      </div>
                      <!-- birria -->
                      <div class="event-item-modern">                        
                        <h4 class="event-item-modern-title"><a href="#">Taco de birria</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Ternera deshilachada en salsa  &nbsp;|&nbsp; Queso  &nbsp;|&nbsp; Cebolla  &nbsp;|&nbsp; Cilantro fresco.
                          </p>
                          <p class="event-time">1.25 €</p>
                        </div>
                      </div>
                      <!-- chicharron -->
                      <div class="event-item-modern">                        
                        <h4 class="event-item-modern-title"><a href="#">Taco de chicharron</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Chicharron (magro y panceta de cerdo en salsa)  &nbsp;|&nbsp; Queso  &nbsp;|&nbsp; Cebolla &nbsp;|&nbsp; Cilantro fresco.
                          </p>
                          <p class="event-time">1.00 €</p>
                        </div>
                      </div>
                      <!-- al pastor -->
                      <div class="event-item-modern">                        
                        <h4 class="event-item-modern-title"><a href="#">Taco al pastor</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Lomo de cerdo aliñado con piña &nbsp;|&nbsp; Piña  &nbsp;|&nbsp;Queso  &nbsp;|&nbsp; Cebolla  &nbsp;|&nbsp; Cilantro fresco.
                          </p>
                          <p class="event-time">1.00 €</p>
                        </div>
                      </div>
                      <!-- pibil -->
                      <div class="event-item-modern">                        
                        <h4 class="event-item-modern-title"><a href="#">Cochinita pibil</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Lomo de cerdo aliñado con naranja &nbsp;|&nbsp; achiote  &nbsp;|&nbsp;Queso  &nbsp;|&nbsp; Cebolla morada  &nbsp;|&nbsp; Cilantro fresco.
                          </p>
                          <p class="event-time">1.00 €</p>
                        </div>
                      </div>
                      <!-- ayote -->
                      <div class="event-item-modern">                        
                        <h4 class="event-item-modern-title"><a href="#">Taco al pastor</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Calabacín &nbsp;|&nbsp; Pimiento verde y pimiento rojo  &nbsp;|&nbsp; Maíz &nbsp;|&nbsp; Queso  &nbsp;|&nbsp; Cebolla guisada &nbsp;|&nbsp; Cilantro fresco.
                          </p>
                          <p class="event-time">1.00 €</p>
                        </div>
                      </div>
                      <!-- Taco de champiñón -->
                      <div class="event-item-modern">                        
                        <h4 class="event-item-modern-title"><a href="#">Taco de champiñón</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Champiñones al ajillo &nbsp;|&nbsp; Queso &nbsp;|&nbsp; Cilantro fresco.
                          </p>
                          <p class="event-time">1.50 €</p>
                        </div>
                      </div>
                      <!-- Taco de ternera -->
                      <div class="event-item-modern">                        
                        <h4 class="event-item-modern-title"><a href="#">Taco de ternera</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Carne de ternera &nbsp;|&nbsp; Costillar guisada en su salsa &nbsp;|&nbsp; Queso  &nbsp;|&nbsp; Cebolla &nbsp;|&nbsp; Cilantro fresco.
                          </p>
                          <p class="event-time">1.90 €</p>
                        </div>
                      </div>
                      <!-- Taco de suadero -->
                      <div class="event-item-modern">                        
                        <h4 class="event-item-modern-title"><a href="#">Taco de suadero</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Falda de ternera &nbsp;|&nbsp; Costillar aliñada al vapor &nbsp;|&nbsp; Queso  &nbsp;|&nbsp; Cebolla &nbsp;|&nbsp; Cilantro fresco.
                          </p>
                          <p class="event-time">1.90 €</p>
                        </div>
                      </div>                      
                    </div>
                    <!-- end tacos -->
                  </div>
                  <div class="tab-pane fade" id="tabs-1-2">
                    <!-- init quesadillas menu -->
                    <div class="box-event-modern">
                       <!-- Quesadillas -->                      
                       <p>
                        Descubre nuestras <b>quesadillas</b> de tortilla de maíz bañadas en salsa junto con una variedad de rellenos frescos y auténticos. Elige entre:
                        <br><br>
                      </p>
                      <!-- Gos -->
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a href="#">Quesadilla Gos</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                              Carne mixta &nbsp;|&nbsp; Queso &nbsp; | Cebolla &nbsp;|&nbsp; Cilantro fresco.                         
                          </p>
                          <p class="event-time">3.00 €</p>
                        </div>
                      </div>
                      <!-- quesadilla de pollo  -->
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a href="#">Quesadilla de pollo</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                              Carne mixta &nbsp;|&nbsp; Queso &nbsp; | Cebolla &nbsp;|&nbsp; Cilantro fresco.                         
                          </p>
                          <p class="event-time">3.00 €</p>
                        </div>
                      </div>
                      <!-- Gos -->
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a href="#">Quesadilla al pastor</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                              Carne mixta &nbsp;|&nbsp; Queso &nbsp; | Cebolla &nbsp;|&nbsp; Cilantro fresco.                         
                          </p>
                          <p class="event-time">3.00 €</p>
                        </div>
                      </div>
                      <!-- birria -->
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a href="#">Quesadilla de birria</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                              Carne mixta &nbsp;|&nbsp; Queso &nbsp; | Cebolla &nbsp;|&nbsp; Cilantro fresco.                         
                          </p>
                          <p class="event-time">3.25 €</p>
                        </div>
                      </div>
                      <!-- ayote -->
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a href="#">Quesadilla de ayote</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                              Carne mixta &nbsp;|&nbsp; Queso &nbsp; | Cebolla &nbsp;|&nbsp; Cilantro fresco.                         
                          </p>
                          <p class="event-time">3.00 €</p>
                        </div>
                      </div>
                    </div>
                    <!-- end quesadillas -->
                  </div>
                  <div class="tab-pane fade" id="tabs-1-3">
                  <!-- init Burritos -->  
                    <div class="box-event-modern">
                      <!-- Burritos -->                      
                      <p>
                        Descubre nuestras <b>Burritos</b> de tortilla de trigo de 30cm rellenos con ingredientes frescos y auténticos. Elige entre:
                        <br><br>
                      </p>
                      <!-- Gos -->
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a href="#">Burrito Gos</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                              Carne Mixta guisada con pimiento rojo y verde&nbsp;|&nbsp; Frijoles &nbsp; | Arroz &nbsp;|&nbsp; Crema de vaca |&nbsp; Alioli |&nbsp; Chimol.                         
                          </p>
                          <p class="event-time">9.0 €</p>
                        </div>
                      </div>
                      <!-- Burrito de pollo  -->
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a href="#">Burrito de pollo</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Carne de pollo guisada con pimiento rojo y verde&nbsp;|&nbsp; Frijoles &nbsp; | Arroz &nbsp;|&nbsp; Crema de vaca |&nbsp; Alioli |&nbsp; Chimol.
                          </p>
                          <p class="event-time">9.00 €</p>
                        </div>
                      </div>
                      <!-- Burrito Cheddar -->
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a href="#">Burrito Cheddar</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Carne Mixta guisada con pimiento rojo y verde&nbsp; |&nbsp; Queso Cheddar |&nbsp; Frijoles &nbsp; | Arroz &nbsp;|&nbsp; Crema de vaca |&nbsp; Alioli |&nbsp; Chimol.
                          </p>
                          <p class="event-time">9.50 €</p>
                        </div>
                      </div>
                      
                    </div>
                  </div>          
                  <!-- end Burritos -->

                  <div class="tab-pane fade" id="tabs-1-5">
                  <!-- init Pupusas  -->
                      <div class="box-event-modern">
                          <!-- Pupusas -->                      
                          <p>
                            Descubre nuestras deliciosas <b>Pupusas</b> salvadeñeras con una variedad de ingredientes tradicionales. Elige entre:
                            <br><br>
                          </p>
                          <!-- Frijol con queso -->
                          <div class="event-item-modern">
                            <h4 class="event-item-modern-title"><a href="#">Frijol con Queso</a></h4>
                            <div class="event-item-modern-text">
                      
                              <p class="event-time">1.80 €</p>
                            </div>
                          </div>
                          <!-- Revueltas -->
                          <div class="event-item-modern">
                            <h4 class="event-item-modern-title"><a href="#">Revueltas</a></h4>
                            <div class="event-item-modern-text">
                              <p>
                                Frijoles &nbsp;|&nbsp; Queso &nbsp;|&nbsp; chicharron.
                              </p>
                              <p class="event-time">1.80 €</p>
                            </div>
                          </div>
                          <!-- Pollo con queso  -->
                          <div class="event-item-modern">
                            <h4 class="event-item-modern-title"><a href="#">Pollo con queso</a></h4>
                            <div class="event-item-modern-text">
                              
                              <p class="event-time">2.20 €</p>
                            </div>
                          </div>
                          <!-- Chicarron con queso  -->
                          <div class="event-item-modern">
                            <h4 class="event-item-modern-title"><a href="#">Chicharron con queso</a></h4>
                            <div class="event-item-modern-text">
                              
                              <p class="event-time">2.20 €</p>
                            </div>
                          </div>
                          <!-- Jalapeño con queso  -->
                          <div class="event-item-modern">
                            <h4 class="event-item-modern-title"><a href="#">Jalapeño con queso</a></h4>
                            <div class="event-item-modern-text">
                              
                              <p class="event-time">2.20 €</p>
                            </div>
                          </div>

                          <!-- Solo queso  -->
                          <div class="event-item-modern">
                            <h4 class="event-item-modern-title"><a href="#">Solo queso</a></h4>
                            <div class="event-item-modern-text">
                              
                              <p class="event-time">2.20 €</p>
                            </div>
                          </div>
                           


                      </div>
                  </div>
                  <!-- end Pupusas  -->

                  <div class="tab-pane fade" id="tabs-1-4">
                    <!-- hot dogs -->        
                        <div class="box-event-modern">
                                                    
                              <p>
                                Descubre nuestras <b>Hot Dogs</b> con salchicas de pavo ahumado a la plancha y una gran variedad de ingredientes. Elige entre:
                                <br><br>
                              </p>
                              <!-- Tradicional -->
                              <div class="event-item-modern">
                                <h4 class="event-item-modern-title"><a href="#">Hot Dog Tradicional</a></h4>
                                <div class="event-item-modern-text">
                                  <p>
                                      cebolla &nbsp;|&nbsp; tiritas de patatas frijas &nbsp; 
                                  </p>
                                  <p class="event-time">2.00 €</p>
                                </div>
                              </div>
                              <!-- GOS  -->
                              <div class="event-item-modern">
                                <h4 class="event-item-modern-title"><a href="#">Hot Dog Gos</a></h4>
                                <div class="event-item-modern-text">
                                  <p>
                                    Ensaladilla picnic (Ameicana) &nbsp;|&nbsp; tiritas de patatas frijas &nbsp;
                                  </p>
                                  <p class="event-time">2.50 €</p>
                                </div>
                              </div>
                              <!-- SUPER GOS  -->
                              <div class="event-item-modern">
                                <h4 class="event-item-modern-title"><a href="#">Hot Dog Super Gos</a></h4>
                                <div class="event-item-modern-text">
                                  <p>
                                    Ensaladilla picnic (Americana) &nbsp;|&nbsp; Bacon &nbsp; |&nbsp; tiritas de patatas frijas &nbsp;
                                  </p>
                                  <p class="event-time">3.00 €</p>
                                </div>
                              </div>
                              <!-- VIP  -->
                              <div class="event-item-modern">
                                <h4 class="event-item-modern-title"><a href="#">Hot Dog VIP</a></h4>
                                <div class="event-item-modern-text">
                                  <p>
                                    Ensaladilla picnic (Ameicana) &nbsp;|&nbsp; Bacon &nbsp;| Cebolla pochada &nbsp;| tiritas de patatas frijas &nbsp;
                                  </p>
                                  <p class="event-time">3.50 €</p>
                                </div>
                              </div>
                        </div>
                  </div>
                        <!-- end hot dog  -->

                  <div class="tab-pane fade" id="tabs-1-6">
                    <!-- Sandwich -->
                        <div class="box-event-modern">
                                                    
                              <p>
                                Descubre nuestros <b>Sandwich</b> a la plancha con una gran variedad de ingredientes. Elige entre:
                                <br><br>
                              </p>
                              <!-- CLUB -->
                              <div class="event-item-modern">
                                <h4 class="event-item-modern-title"><a href="#">Sandwich Club</a></h4>
                                <div class="event-item-modern-text">
                                  <p>
                                    Jamon de pavo &nbsp;|&nbsp; Queso &nbsp; | Lechuga &nbsp;|&nbsp; Tomate |&nbsp; Alioli |&nbsp; Lechuga |&nbsp; pollo |&nbsp; Bacon.
                                  </p>
                                  <p class="event-time">8.00 €</p>
                                </div>
                              </div>
                              <!-- MIXTO  -->
                              <div class="event-item-modern">
                                <h4 class="event-item-modern-title"><a href="#">Sandwich Mixto</a></h4>
                                <div class="event-item-modern-text">
                                  <p>
                                    Jamon de pavo &nbsp;|&nbsp; Queso Cheddar &nbsp; |&nbsp; Alioli &nbsp;
                                  </p>
                                  <p class="event-time">7.0 €</p>
                                </div>
                              </div>
                        </div>        
                  </div>
                      <!-- end Sandwich  -->
                        </div>  
                           
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="~/js/core.min.js"></script>
    <script src="~/js/script.js"></script>
  </body>
</html>