@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html class="wide wow-animation" lang="es"> 
  <head>
    <title>Home-Tacogos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CPT+Serif:400,700">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/fonts.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/aboutus.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Cargando sabores...</p>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel"> 
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a href="index.html"><img class="brand-logo-light" src="images/logo/mid-tacogos-logo.jpg" alt="tacogoslogo" width="140" height="57" srcset="images/logo/small-tacogos-logo.jpg 2x"/></a></div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <!-- Main page -->
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="index.html">Home</a></li>
                      <!--  Catalog of food's tacogos -->
                      <li class="rd-nav-item"><a class="rd-nav-link" href="menu.html">Carta</a></li>
                      <!-- About tacogos -->
                      <li class="rd-nav-item"><a class="rd-nav-link" href="about-us.html">Sobre nosotros</a></li>
                      <!-- Contact with tacogos -->
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">Contacto</a></li>
                    </ul>
                    <!-- Intranet - inventory -->
                    <a class="button button-white button-sm" href="#">Zona trabajador</a>
                  </div>
                </div><a class="button button-white button-sm" href="#">Zona trabajador</a>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Swiper-->
      <section class="section section-lg section-main-bunner section-main-bunner-filter text-center">
        <div class="main-bunner-img" style="background-image: url(&quot;images/banner/hot-peppers-banner-2.jpg&quot;); background-size: cover;"></div>
        <div class="main-bunner-inner">
          <div class="container">
            <div class="box-default">
              <h1 class="box-default-title">"Hola Tacoguero"</h1>
              <div class="box-default-decor"></div>
              <p class="big box-default-text">
                ¡Delicias para todos los gustos! <br>
                <i>Disfruta de nuestros tacos, pupusas, hot dogs, hamburguesas y mucho más en un solo lugar.</i>
              </p>
            </div>
          </div>
        </div>
      </section>
      <div class="bg-gray-1">
        

        <section class="section-transform-top">
          <div class="container">
            <div class="box-booking">
              <b>
                Explora nuestra carta y descubre un festín para tu paladar. ¡Ven y disfruta de una abundancia de sabores deliciosos esperando ser devorados!
              </b>
              <p>
                <button type="button" class="cssbuttons-io-button">
                  <a href="menu.html" target="_blank" rel="noopener noreferrer">Veamos ese menú!</a>
                  <div class="icon">
                    <a href="menu.html" target="_blank" rel="noopener noreferrer">
                      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="M0 0h24v24H0z" fill="none"></path> <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor" ></path> </svg>
                    </a>
                  </div>                                  
                </button>                
              </p>
            </div>
          </div>
        </section>

        <section class="section section-lg section-inset-1 bg-gray-1 pt-lg-0">
          <div class="container">
            <div class="row row-50 justify-content-xl-between align-items-lg-center">
              <div class="col-lg-6 wow fadeInLeft">
                <div class="box-image"><img class="box-image-static" src="images/logo/big-oh-tacogos-logo.jpg" alt="tacogos" width="463" height="327"/>
                </div>
              </div>
              <div class="col-lg-6 col-xl-5 wow fadeInRight">
                <h2>Sobre nosotros</h2>
                <p>Tacogos es un restaurante talaverano de gestión familiar que fusiona ingredientes frescos con auténtica pasión culinaria.</p>
                <p>Nos dedicamos a servir platillos auténticos y frescos, acompañados del mejor servicio al cliente. Nuestra cocina se compromete a ofrecer a nuestros comensales una amplia variedad de platos de la más alta calidad, garantizando una experiencia gastronómica inigualable.<br><br><br></p>
                <div>
                  <button id="btn-message" class="button-message">
                    <div class="content-avatar">
                      <div class="status-user"></div>
                      <div class="avatar">
                        <svg class="user-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,12.5c-3.04,0-5.5,1.73-5.5,3.5s2.46,3.5,5.5,3.5,5.5-1.73,5.5-3.5-2.46-3.5-5.5-3.5Zm0-.5c1.66,0,3-1.34,3-3s-1.34-3-3-3-3,1.34-3,3,1.34,3,3,3Z"></path></svg>
                      </div>
                    </div>
                    <div class="notice-content">
                      <div class="username">
                        tacogos
                      </div>
                      <div class="lable-message">
                        + <span>info</span>
                      </div>
                      <div class="user-id">
                        <a href="about-us.html">sobre nosotros</a>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- Featured Offers-->
      <section class="section section-lg bg-default">
        <div class="container" id="slider">
          <div class="row justify-content-center text-center">
            <div class="col-md-9 col-lg-7 wow-outer">
              <div class="wow slideInDown">
                <h2>Nuestras ofertas</h2>
                <p class="text-opacity-80">
                  ¡Descubre nuestras irresistibles ofertas destacadas en Tacogos! Deléitate con una variedad exquisita de platos principales y postres que te dejarán con ganas de más.
                </p>
              </div>
            </div>
          </div>
          <div class="row row-20 row-lg-30">
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <div class="product-featured">
                  <div class="product-featured-figure"><img src="images/food/variedad-tacos-tacogos-salsas.jpeg" alt="" />
                    <div class="product-featured-button"><a class="button button-primary" href="#">order now</a></div>
                  </div>
                  <div class="product-featured-caption">
                    <h4><a class="product-featured-title" href="#">Tacos tacogos</a></h4>
                    <p class="big">1 €/unidad</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <div class="product-featured">
                  <div class="product-featured-figure"><img src="images/food/Simply-Recipes-Pupusas.webp" alt="" />
                    <div class="product-featured-button"><a class="button button-primary" href="#">order now</a></div>
                  </div>
                  <div class="product-featured-caption">
                    <h4><a class="product-featured-title" href="#">Pupusas chicharron con queso</a></h4>
                    <p class="big">2.20 €/unidad</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <div class="product-featured">
                  <div class="product-featured-figure"><img src="images/food/perritotacogos.jpeg" alt="" />
                    <div class="product-featured-button"><a class="button button-primary" href="#">order now</a></div>
                  </div>
                  <div class="product-featured-caption">
                    <h4><a class="product-featured-title" href="#">Hot dogs</a></h4>
                    <p class="big">2.50 €/unidad</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <div class="product-featured">
                  <div class="product-featured-figure"><img src="images/food/tacobirria.jpeg" alt="" />
                    <div class="product-featured-button"><a class="button button-primary" href="#">order now</a></div>
                  </div>
                  <div class="product-featured-caption">
                    <h4><a class="product-featured-title" href="#">Burrito Gos</a></h4>
                    <p class="big">9 €</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg bg-gray-1">
        <div class="container">
          <h2 class="text-center">Nuestra carta</h2>
          <div class="row">
            <div class="col-12">
              <div class="tabs-custom tabs-horizontal tabs-classic" id="tabs-1">
                <h3>Carta TacoGos</h3>
                <ul class="nav nav-tabs nav-tabs-classic">
                  <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1" data-toggle="tab">Tacos</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-toggle="tab">Quesadillas</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3" data-toggle="tab">Burritos</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-4" data-toggle="tab">Hot dogs</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-5" data-toggle="tab">Pupusas</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-6" data-toggle="tab">Sandwich</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-7" data-toggle="tab">Hamburguesas</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-8" data-toggle="tab">Postres</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-9" data-toggle="tab">Bebidas</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="tabs-1-1">
                    <!-- init tacos menu -->
                    <div class="box-event-modern">
                      <!-- Tacos -->                      
                      <p>
                        Descubre nuestros <b>tacos</b> de tortilla de maíz con una variedad de rellenos frescos y auténticos. Elige entre:
                        <br><br>
                      </p>
                      <!-- Especial -->
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a href="#">Especial tacogos</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                              Carne mixta &nbsp;|&nbsp; Queso &nbsp; | Cebolla &nbsp;|&nbsp; Cilantro fresco.                         
                          </p>
                          <p class="event-time">1.00 €</p>
                        </div>
                      </div>
                      <!-- tinga -->
                      <div class="event-item-modern">                        
                        <h4 class="event-item-modern-title"><a href="#">Tinga de pollo</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Pechuga de pollo guisada  &nbsp;|&nbsp; Queso  &nbsp;|&nbsp; Cebolla  &nbsp;|&nbsp; Cilantro fresco.
                          </p>
                          <p class="event-time">1.00 €</p>
                        </div>
                      </div>
                      <!-- birria -->
                      <div class="event-item-modern">                        
                        <h4 class="event-item-modern-title"><a href="#">Taco de birria</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Ternera deshilachada en salsa  &nbsp;|&nbsp; Queso  &nbsp;|&nbsp; Cebolla  &nbsp;|&nbsp; Cilantro fresco.
                          </p>
                          <p class="event-time">1.25 €</p>
                        </div>
                      </div>
                      <!-- chicharron -->
                      <div class="event-item-modern">                        
                        <h4 class="event-item-modern-title"><a href="#">Taco de chicharron</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Chicharron (magro y panceta de cerdo en salsa)  &nbsp;|&nbsp; Queso  &nbsp;|&nbsp; Cebolla &nbsp;|&nbsp; Cilantro fresco.
                          </p>
                          <p class="event-time">1.00 €</p>
                        </div>
                      </div>
                      <!-- al pastor -->
                      <div class="event-item-modern">                        
                        <h4 class="event-item-modern-title"><a href="#">Taco al pastor</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Lomo de cerdo aliñado con piña &nbsp;|&nbsp; Piña  &nbsp;|&nbsp;Queso  &nbsp;|&nbsp; Cebolla  &nbsp;|&nbsp; Cilantro fresco.
                          </p>
                          <p class="event-time">1.00 €</p>
                        </div>
                      </div>
                      <!-- pibil -->
                      <div class="event-item-modern">                        
                        <h4 class="event-item-modern-title"><a href="#">Cochinita pibil</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Lomo de cerdo aliñado con naranja &nbsp;|&nbsp; achiote  &nbsp;|&nbsp;Queso  &nbsp;|&nbsp; Cebolla morada  &nbsp;|&nbsp; Cilantro fresco.
                          </p>
                          <p class="event-time">1.00 €</p>
                        </div>
                      </div>
                      <!-- ayote -->
                      <div class="event-item-modern">                        
                        <h4 class="event-item-modern-title"><a href="#">Taco al pastor</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Calabacín &nbsp;|&nbsp; Pimiento verde y pimiento rojo  &nbsp;|&nbsp; Maíz &nbsp;|&nbsp; Queso  &nbsp;|&nbsp; Cebolla guisada &nbsp;|&nbsp; Cilantro fresco.
                          </p>
                          <p class="event-time">1.00 €</p>
                        </div>
                      </div>
                      <!-- Taco de champiñón -->
                      <div class="event-item-modern">                        
                        <h4 class="event-item-modern-title"><a href="#">Taco de champiñón</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Champiñones al ajillo &nbsp;|&nbsp; Queso &nbsp;|&nbsp; Cilantro fresco.
                          </p>
                          <p class="event-time">1.50 €</p>
                        </div>
                      </div>
                      <!-- Taco de ternera -->
                      <div class="event-item-modern">                        
                        <h4 class="event-item-modern-title"><a href="#">Taco de ternera</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Carne de ternera &nbsp;|&nbsp; Costillar guisada en su salsa &nbsp;|&nbsp; Queso  &nbsp;|&nbsp; Cebolla &nbsp;|&nbsp; Cilantro fresco.
                          </p>
                          <p class="event-time">1.90 €</p>
                        </div>
                      </div>
                      <!-- Taco de suadero -->
                      <div class="event-item-modern">                        
                        <h4 class="event-item-modern-title"><a href="#">Taco de suadero</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Falda de ternera &nbsp;|&nbsp; Costillar aliñada al vapor &nbsp;|&nbsp; Queso  &nbsp;|&nbsp; Cebolla &nbsp;|&nbsp; Cilantro fresco.
                          </p>
                          <p class="event-time">1.90 €</p>
                        </div>
                      </div>                      
                    </div>
                    <!-- end tacos -->
                  </div>
                  <div class="tab-pane fade" id="tabs-1-2">
                    <!-- init quesadillas menu -->
                    <div class="box-event-modern">
                       <!-- Quesadillas -->                      
                       <p>
                        Descubre nuestras <b>quesadillas</b> de tortilla de maíz bañadas en salsa junto con una variedad de rellenos frescos y auténticos. Elige entre:
                        <br><br>
                      </p>
                      <!-- Gos -->
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a href="#">Quesadilla Gos</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                              Carne mixta &nbsp;|&nbsp; Queso &nbsp; | Cebolla &nbsp;|&nbsp; Cilantro fresco.                         
                          </p>
                          <p class="event-time">3.00 €</p>
                        </div>
                      </div>
                      <!-- quesadilla de pollo  -->
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a href="#">Quesadilla de pollo</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                              Carne mixta &nbsp;|&nbsp; Queso &nbsp; | Cebolla &nbsp;|&nbsp; Cilantro fresco.                         
                          </p>
                          <p class="event-time">3.00 €</p>
                        </div>
                      </div>
                      <!-- Gos -->
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a href="#">Quesadilla al pastor</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                              Carne mixta &nbsp;|&nbsp; Queso &nbsp; | Cebolla &nbsp;|&nbsp; Cilantro fresco.                         
                          </p>
                          <p class="event-time">3.00 €</p>
                        </div>
                      </div>
                      <!-- birria -->
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a href="#">Quesadilla de birria</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                              Carne mixta &nbsp;|&nbsp; Queso &nbsp; | Cebolla &nbsp;|&nbsp; Cilantro fresco.                         
                          </p>
                          <p class="event-time">3.25 €</p>
                        </div>
                      </div>
                      <!-- ayote -->
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a href="#">Quesadilla de ayote</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                              Carne mixta &nbsp;|&nbsp; Queso &nbsp; | Cebolla &nbsp;|&nbsp; Cilantro fresco.                         
                          </p>
                          <p class="event-time">3.00 €</p>
                        </div>
                      </div>
                    </div>
                    <!-- end quesadillas -->
                  </div>
                  <div class="tab-pane fade" id="tabs-1-3">
                  <!-- init Burritos -->  
                    <div class="box-event-modern">
                      <!-- Burritos -->                      
                      <p>
                        Descubre nuestras <b>Burritos</b> de tortilla de trigo de 30cm rellenos con ingredientes frescos y auténticos. Elige entre:
                        <br><br>
                      </p>
                      <!-- Gos -->
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a href="#">Burrito Gos</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                              Carne Mixta guisada con pimiento rojo y verde&nbsp;|&nbsp; Frijoles &nbsp; | Arroz &nbsp;|&nbsp; Crema de vaca |&nbsp; Alioli |&nbsp; Chimol.                         
                          </p>
                          <p class="event-time">9.0 €</p>
                        </div>
                      </div>
                      <!-- Burrito de pollo  -->
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a href="#">Burrito de pollo</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Carne de pollo guisada con pimiento rojo y verde&nbsp;|&nbsp; Frijoles &nbsp; | Arroz &nbsp;|&nbsp; Crema de vaca |&nbsp; Alioli |&nbsp; Chimol.
                          </p>
                          <p class="event-time">9.00 €</p>
                        </div>
                      </div>
                      <!-- Burrito Cheddar -->
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a href="#">Burrito Cheddar</a></h4>
                        <div class="event-item-modern-text">
                          <p>
                            Carne Mixta guisada con pimiento rojo y verde&nbsp; |&nbsp; Queso Cheddar |&nbsp; Frijoles &nbsp; | Arroz &nbsp;|&nbsp; Crema de vaca |&nbsp; Alioli |&nbsp; Chimol.
                          </p>
                          <p class="event-time">9.50 €</p>
                        </div>
                      </div>
                      
                    </div>
                  </div>          
                  <!-- end Burritos -->

                  <div class="tab-pane fade" id="tabs-1-5">
                  <!-- init Pupusas  -->
                      <div class="box-event-modern">
                          <!-- Pupusas -->                      
                          <p>
                            Descubre nuestras deliciosas <b>Pupusas</b> salvadeñeras con una variedad de ingredientes tradicionales. Elige entre:
                            <br><br>
                          </p>
                          <!-- Frijol con queso -->
                          <div class="event-item-modern">
                            <h4 class="event-item-modern-title"><a href="#">Frijol con Queso</a></h4>
                            <div class="event-item-modern-text">
                      
                              <p class="event-time">1.80 €</p>
                            </div>
                          </div>
                          <!-- Revueltas -->
                          <div class="event-item-modern">
                            <h4 class="event-item-modern-title"><a href="#">Revueltas</a></h4>
                            <div class="event-item-modern-text">
                              <p>
                                Frijoles &nbsp;|&nbsp; Queso &nbsp;|&nbsp; chicharron.
                              </p>
                              <p class="event-time">1.80 €</p>
                            </div>
                          </div>
                          <!-- Pollo con queso  -->
                          <div class="event-item-modern">
                            <h4 class="event-item-modern-title"><a href="#">Pollo con queso</a></h4>
                            <div class="event-item-modern-text">
                              
                              <p class="event-time">2.20 €</p>
                            </div>
                          </div>
                          <!-- Chicarron con queso  -->
                          <div class="event-item-modern">
                            <h4 class="event-item-modern-title"><a href="#">Chicharron con queso</a></h4>
                            <div class="event-item-modern-text">
                              
                              <p class="event-time">2.20 €</p>
                            </div>
                          </div>
                          <!-- Jalapeño con queso  -->
                          <div class="event-item-modern">
                            <h4 class="event-item-modern-title"><a href="#">Jalapeño con queso</a></h4>
                            <div class="event-item-modern-text">
                              
                              <p class="event-time">2.20 €</p>
                            </div>
                          </div>

                          <!-- Solo queso  -->
                          <div class="event-item-modern">
                            <h4 class="event-item-modern-title"><a href="#">Solo queso</a></h4>
                            <div class="event-item-modern-text">
                              
                              <p class="event-time">2.20 €</p>
                            </div>
                          </div>
                           


                      </div>
                  </div>
                  <!-- end Pupusas  -->

                  <div class="tab-pane fade" id="tabs-1-4">
                    <!-- hot dogs -->        
                        <div class="box-event-modern">
                                                    
                              <p>
                                Descubre nuestras <b>Hot Dogs</b> con salchicas de pavo ahumado a la plancha y una gran variedad de ingredientes. Elige entre:
                                <br><br>
                              </p>
                              <!-- Tradicional -->
                              <div class="event-item-modern">
                                <h4 class="event-item-modern-title"><a href="#">Hot Dog Tradicional</a></h4>
                                <div class="event-item-modern-text">
                                  <p>
                                      cebolla &nbsp;|&nbsp; tiritas de patatas frijas &nbsp; 
                                  </p>
                                  <p class="event-time">2.00 €</p>
                                </div>
                              </div>
                              <!-- GOS  -->
                              <div class="event-item-modern">
                                <h4 class="event-item-modern-title"><a href="#">Hot Dog Gos</a></h4>
                                <div class="event-item-modern-text">
                                  <p>
                                    Ensaladilla picnic (Ameicana) &nbsp;|&nbsp; tiritas de patatas frijas &nbsp;
                                  </p>
                                  <p class="event-time">2.50 €</p>
                                </div>
                              </div>
                              <!-- SUPER GOS  -->
                              <div class="event-item-modern">
                                <h4 class="event-item-modern-title"><a href="#">Hot Dog Super Gos</a></h4>
                                <div class="event-item-modern-text">
                                  <p>
                                    Ensaladilla picnic (Americana) &nbsp;|&nbsp; Bacon &nbsp; |&nbsp; tiritas de patatas frijas &nbsp;
                                  </p>
                                  <p class="event-time">3.00 €</p>
                                </div>
                              </div>
                              <!-- VIP  -->
                              <div class="event-item-modern">
                                <h4 class="event-item-modern-title"><a href="#">Hot Dog VIP</a></h4>
                                <div class="event-item-modern-text">
                                  <p>
                                    Ensaladilla picnic (Ameicana) &nbsp;|&nbsp; Bacon &nbsp;| Cebolla pochada &nbsp;| tiritas de patatas frijas &nbsp;
                                  </p>
                                  <p class="event-time">3.50 €</p>
                                </div>
                              </div>
                        </div>
                  </div>
                        <!-- end hot dog  -->

                  <div class="tab-pane fade" id="tabs-1-6">
                    <!-- Sandwich -->
                        <div class="box-event-modern">
                                                    
                              <p>
                                Descubre nuestros <b>Sandwich</b> a la plancha con una gran variedad de ingredientes. Elige entre:
                                <br><br>
                              </p>
                              <!-- CLUB -->
                              <div class="event-item-modern">
                                <h4 class="event-item-modern-title"><a href="#">Sandwich Club</a></h4>
                                <div class="event-item-modern-text">
                                  <p>
                                    Jamon de pavo &nbsp;|&nbsp; Queso &nbsp; | Lechuga &nbsp;|&nbsp; Tomate |&nbsp; Alioli |&nbsp; Lechuga |&nbsp; pollo |&nbsp; Bacon.
                                  </p>
                                  <p class="event-time">8.00 €</p>
                                </div>
                              </div>
                              <!-- MIXTO  -->
                              <div class="event-item-modern">
                                <h4 class="event-item-modern-title"><a href="#">Sandwich Mixto</a></h4>
                                <div class="event-item-modern-text">
                                  <p>
                                    Jamon de pavo &nbsp;|&nbsp; Queso Cheddar &nbsp; |&nbsp; Alioli &nbsp;
                                  </p>
                                  <p class="event-time">7.0 €</p>
                                </div>
                              </div>
                        </div>        
                  </div>
                      <!-- end Sandwich  -->
                        </div>  
                           
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="row isotope-wrap">
          <!-- Isotope Content-->
          <div class="col-lg-12">
            <div class="isotope" data-isotope-layout="fitRows" data-isotope-group="gallery" data-lightgallery="group" data-lg-thumbnail="false">
              <div class="row no-gutters row-condensed">
                <div class="col-12 col-md-4 isotope-item wow-outer" data-filter="Category 3">
                  <div class="wow slideInDown">
                    <div class="gallery-item-classic"><img src="images/food/tacogos.jpeg" alt=""/>
                      <div class="gallery-item-classic-caption"><a href="images/food/tacogos.jpeg" data-lightgallery="item">zoom</a></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 isotope-item wow-outer" data-filter="*">
                  <div class="wow slideInDown">
                    <div class="gallery-item-classic"><img src="images/food/nachos.jpeg" alt=""/>
                      <div class="gallery-item-classic-caption"><a href="images/food/nachos.jpeg" data-lightgallery="item">zoom</a></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 isotope-item wow-outer" data-filter="Category 3">
                  <div class="wow slideInDown">
                    <div class="gallery-item-classic"><img src="images/food/quesadillas-salsas.jpeg" alt=""/>
                      <div class="gallery-item-classic-caption"><a href="images/food/quesadillas-salsas.jpeg" data-lightgallery="item">zoom</a></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 isotope-item wow-outer" data-filter="Category 3">
                  <div class="wow fadeInUp">
                    <div class="gallery-item-classic"><img src="images/drinks/bebidas.jpg" alt=""/>
                      <div class="gallery-item-classic-caption"><a href="images/drinks/bebidas.jpg" data-lightgallery="item">zoom</a></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 isotope-item wow-outer" data-filter="Category 3">
                  <div class="wow fadeInUp">
                    <div class="gallery-item-classic"><img src="images/food/Double_Smash_Burger.jpg" alt=""/>
                      <div class="gallery-item-classic-caption"><a href="images/food/Double_Smash_Burger.jpg" data-lightgallery="item">zoom</a></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 isotope-item wow-outer" data-filter="Category 2">
                  <div class="wow fadeInUp">
                    <div class="gallery-item-classic"><img src="images/drinks/refrescos.jpg" alt=""/>
                      <div class="gallery-item-classic-caption"><a href="images/drinks/refrescos.jpg" data-lightgallery="item">zoom</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-lg bg-default">
        <div class="container wow-outer">
          <h2 class="text-center wow slideInDown">Nuestros eventos</h2>
          <!-- Owl Carousel-->
          <p>
            <strong><i>Próximamente...</i></strong>
          </p>
          <!--  PTE DE DESARROLLAR
          <div class="owl-carousel wow fadeInUp" data-items="1" data-md-items="2" data-lg-items="3" data-dots="true" data-nav="false" data-stage-padding="15" data-loop="false" data-margin="30" data-mouse-drag="false">
            <div class="post-corporate"><a class="badge" href="#">Jul 02, 2019</a>
              <h4 class="post-corporate-title"><a href="#">Genuine Italian Pizza: Authenticity and Choice</a></h4>
              <div class="post-corporate-text">
                <p>As an Italian restaurant, we are very proud of our delicious authentic pizzas. Our three most popular choices are the Rustica, the Toscana and...</p>
              </div><a class="post-corporate-link" href="#">Read more<span class="icon linearicons-arrow-right"></span></a>
            </div>
            <div class="post-corporate"><a class="badge" href="#">Jul 12, 2019</a>
              <h4 class="post-corporate-title"><a href="#">Italian vs. American Spaghetti: Top 5 Differences</a></h4>
              <div class="post-corporate-text">
                <p>Commonly, when we hear there is spaghetti for dinner we will be expecting a red tomato sauce with meat and seasonings poured over long...</p>
              </div><a class="post-corporate-link" href="#">Read more<span class="icon linearicons-arrow-right"></span></a>
            </div>
            <div class="post-corporate"><a class="badge" href="#">aug 02, 2019</a>
              <h4 class="post-corporate-title"><a href="#">The Delicious History of Lasagna and Its Origins</a></h4>
              <div class="post-corporate-text">
                <p>Lasagna, could there be a more perfect dish? It’s comfort food on steroids. Layers of cheese generously piled on top of decadent amounts...</p>
              </div><a class="post-corporate-link" href="#">Read more<span class="icon linearicons-arrow-right"></span></a>
            </div>
            <div class="post-corporate"><a class="badge" href="#">Aug 15, 2019</a>
              <h4 class="post-corporate-title"><a href="#">Making Gelato Like a True Italian: Tips From Our Chef</a></h4>
              <div class="post-corporate-text">
                <p>Most would agree that gelato is the most delicious frozen dessert; the perfect ending to any meal. With origins in Sicily, gelato has been made famous...</p>
              </div><a class="post-corporate-link" href="#">Read more<span class="icon linearicons-arrow-right"></span></a>
            </div>
            <div class="post-corporate"><a class="badge" href="#">Sep 15, 2019</a>
              <h4 class="post-corporate-title"><a href="#">Italian Ingredients You Can Easily Grow at Home</a></h4>
              <div class="post-corporate-text">
                <p>Imagine preparing an Italian dinner but having to stop cooking because you forget an ingredient and must run to the store. How nice would it be to go...</p>
              </div><a class="post-corporate-link" href="#">Read more<span class="icon linearicons-arrow-right"></span></a>
            </div>
            <div class="post-corporate"><a class="badge" href="#">Sep 28, 2019</a>
              <h4 class="post-corporate-title"><a href="#">Our Brief Guide to Pairing Wine and Pasta the Right Way</a></h4>
              <div class="post-corporate-text">
                <p>To Italians, pasta is the food of the gods, and there is nothing better to go with a good pasta than a perfect wine. To the uninitiated, finding the right...</p>
              </div><a class="post-corporate-link" href="#">Read more<span class="icon linearicons-arrow-right"></span></a>
            </div>
            <div class="post-corporate"><a class="badge" href="#">Oct 05, 2019</a>
              <h4 class="post-corporate-title"><a href="#">Top 10 Famous Spring Dishes in Italian Restaurants</a></h4>
              <div class="post-corporate-text">
                <p>Spring is the time for growth and rebirth. One can see this throughout the countrysides of Italy with blooming flowers and budding trees. Springtime is...</p>
              </div><a class="post-corporate-link" href="#">Read more<span class="icon linearicons-arrow-right"></span></a>
            </div>
            <div class="post-corporate"><a class="badge" href="#">Oct 17, 2019</a>
              <h4 class="post-corporate-title"><a href="#">What Makes Some Seasonings Truly Italian?</a></h4>
              <div class="post-corporate-text">
                <p>When thinking of Italian cuisine, dishes like pasta enveloped in hearty sauces come to mind. Certain flavors seem to be found across the different...</p>
              </div><a class="post-corporate-link" href="#">Read more<span class="icon linearicons-arrow-right"></span></a>
            </div>
            <div class="post-corporate"><a class="badge" href="#">Nov 10, 2019</a>
              <h4 class="post-corporate-title"><a href="#">Types of Italian Sausage and Why They Are Different</a></h4>
              <div class="post-corporate-text">
                <p>There are many types of Italian sausage. The main difference in Italian sausage when compared to other sausages is the seasoning. The particular...</p>
              </div><a class="post-corporate-link" href="#">Read more<span class="icon linearicons-arrow-right"></span></a>
            </div>
          </div>
          -->
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="section footer-minimal context-dark">
        <div class="container wow-outer">
          <div class="wow fadeIn">
            <div class="row row-60">
              <div class="col-12"><a href="index.html"><img src="images/logo/mid-tacogos-logo.jpg" alt="" width="140" height="57" srcset="images/logo/big-oh-tacogos-logo.jpg 2x"/></a></div>
              <div class="col-12">
                <ul class="footer-minimal-nav">
                  <li><a href="menu.html">Carta</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="contacts.html">Contacto</a></li>
                  <li><a href="#">Galería</a></li>
                  <li><a href="about-us.html">Sobre nosotros</a></li>
                </ul>
              </div>
              <div class="col-12">
                <ul class="social-list">
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-facebook" href="#"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-instagram" href="#"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-twitter" href="#"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-youtube-play" href="#"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-pinterest-p" href="#"></a></li>
                </ul>
              </div>
            </div>
            <p class="rights">
              <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Tacogos</span><span>.&nbsp;</span><span>All Rights Reserved.</span> |  
                Design&nbsp;based in&nbsp;<a href="https://www.templatemonster.com">Templatemonster</a></p>
              <a href="terminos-y-condiciones.html" target="_blank" rel="noopener noreferrer">Terminos y condiciones</a></li> |
              <a href="politicas-de-privacidad.html" target="_blank" rel="noopener noreferrer">Políticas de privacidad</a></li>
            </p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="~/js/core.min.js"></script>
    <script src="~/js/script.js"></script>
  </body>
</html>
<!--
  Imagen de <a href="https://pixabay.com/es/users/noname_13-2364555/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1565025">NoName_13</a> en <a href="https://pixabay.com/es//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1565025">Pixabay</a> 
  Imagen de <a href="https://pixabay.com/es/users/sponchia-443272/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=558805">Christine Sponchia</a> en <a href="https://pixabay.com/es//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=558805">Pixabay</a>
-->